.taleTape{
    border: 1px solid black;
    height:auto;
    width:80%;
    margin:auto;
    background:#eee;
    margin-top: 50px;

  }
  
  .taleTapeType{
  border: 1px black solid;
    display: block;
    height:60px;
    
  }

  .taleTapeType h1{
    font-size:2rem;
  }

  @media only screen and (max-width: 767px) {
    
  }