.modal{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
}

.modalBox{
    background-color: #d3d3d3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width:500px;
    height:500px;
    padding: 50px;
}

@media  only screen and (max-width: 767px){
   .modalBox{
       width:250px;
       height:250px;
       padding:5px;
     }
     .modalBox h1{
         font-size: 20px;
     }
     .modalBox h3{
         font-size:16px;
     }
}