body{
    max-height: 100vh !important;
    overflow: hidden;
}


@media  (max-width: 600px) {
    html, body {
        overflow-x: hidden;
        overflow-y: scroll;
        height:100%;
      }
      body {
        position: relative;
      }
}
